@model Person
@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<p> Welkom op de contactpagina als u vragen of opmerking hebt kunt u ze hier achterlaten. @ViewData["."]</p>

<form method="post">
    <div>
        @Html.LabelFor(m=> m.FirstName)
        @Html.TextBoxFor(m=> m.FirstName)
        @Html.ValidationMessageFor(m=> m.FirstName)    
    </div>

    <div>
        @Html.LabelFor(m=> m.LastName)
        @Html.TextBoxFor(m=> m.LastName)
        @Html.ValidationMessageFor(m=> m.LastName)    
    </div>

     <div>
        @Html.LabelFor(m=> m.Phone)
        @Html.TextBoxFor(m=> m.Phone)
        @Html.ValidationMessageFor(m=> m.Phone)    
    </div>

     <div>
        @Html.LabelFor(m=> m.Email)
        @Html.TextBoxFor(m=> m.Email)
        @Html.ValidationMessageFor(m=> m.Email)    
    </div>

    <div>
        @Html.LabelFor(m=> m.Message)
        @Html.TextAreaFor(m=> m.Message)
        @Html.ValidationMessageFor(m=> m.Message)    
    </div>

    <input type="submit" value="opslaan"/>
</form>

